<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge;chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% block meta %}{% endblock %}
<title>Ingress Mission Requests</title>
<link rel="stylesheet" href="/css/core.css">
{% block css %}{% endblock %}
{% if has_jquery %}<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>{% endif %}
{% block js %}{% endblock %}
</head>
<body>
{% block bodycontent %}{% endblock %}
</body>
</html>
