{% extends '_base.html' %}
{% block meta %}
<meta name="robots" content="NOINDEX,NOFOLLOW,NOARCHIVE,NOODP,NOSNIPPET">
{% endblock %}
{% block html_imports %}
<link rel="import" href="/polymer-src/paper-button/paper-button.html">
{% endblock %}
{% block titleicon %}{% endblock %}
{% block bodycontent %}
{% if not logged_in %}
	<p>This is somewhere for you to request Ingress missions to be created for you.</p>
	<p>Looks like you're not logged in, so you can't do a lot here.</p>
	<p><a href="/login" class="btn"><paper-button raisedButton>Log in</paper-button></a></p>
{% else %}
{% if not USER %}
<p>This is somewhere for you to request Ingress missions to be created for you.</p>
<p>Looks like you're logged in, but not registered. Let's fix that:</p>
<p><a href="/signup" class="btn"><paper-button raisedButton>Sign up</paper-button></a></p>
{% else %}
<p>Welcome, {{USER.nickname}}.{% if USER.is_mission_creator %} You have the power to create missions.{% endif %}</p>
{% if not USER.is_mission_creator and not drafts and not review_queue %}
<p>It's time to get started!</p>
{% else %}

{% if not drafts %}
<p>You have no draft missions right now.</p>
{% else %}
<p>Your draft missions:</p>
<ul>
{% for m in drafts %}
<li><a href="/missions/{{m.guid}}">{{m.title|default:'(Untitled mission)'}}</a>, last modified at {{m.last_modified|default:'[unknown]'}} UTC</li>
{% endfor %}
</ul>
{% endif %}

{% if not review_queue %}
<p>You have no missions submitted for review right now.</p>
{% else %}
<p>Your missions in the review queue:</p>
<ul>
{% for m in review_queue %}
<li><a href="/missions/{{m.guid}}">{{m.title|default:'(Untitled mission)'}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% endif %}
<p>{% if USER.is_superadmin or USER.is_mission_creator %}<a href="/queue"><paper-button raisedButton class="admin">View the queue</paper-button></a> {% endif %}<a href="/missions/create"><paper-button raisedButton>Propose a new mission</paper-button></a> <a href="/signup"><paper-button>Update your details</paper-button></a></p>
{% endif %}

{% endif %}
{% endblock %}
