{% extends '_base.html' %}
{% block meta %}
<meta name="robots" content="NOINDEX,NOFOLLOW,NOARCHIVE,NOODP,NOSNIPPET">
{% endblock %}
{% block bodycontent %}
<h1>Ingress Mission Requests</h1>
<p>Somewhere for you to request missions to be created on your behalf.</p>
{% if not logged_in %}
<p>Looks like you need to <a href="/login">log in</a> first.</p>
{% else %}{% if not USER %}
<p>Looks like you need to <a href="/signup">sign up</a>.</p>
{% else %}
{% if not drafts and not review_queue %}
<p>Welcome, {{USER.nickname}}. To get started, <a href="/missions/create">propose a new mission</a>.</p>
{% else %}
<p>Welcome, {{USER.nickname}}.</p>

{% if not drafts %}
<p>You have no draft missions right now.</p>
{% else %}
<p>Your draft missions:</p>
<ul>
{% for m in drafts %}
	<li><a href="/missions/{{m.guid}}">{{m.title|default:'(Untitled mission)'}}</a>, last modified at {{m.last_modified|default:'[unknown]'}} UTC</li>
{% endfor %}
</ul>
{% endif %}

{% if not review_queue %}
<p>You have no missions submitted for review right now.</p>
{% else %}
<p>Your missions in the review queue:</p>
<ul>
{% for m in review_queue %}
	<li><a href="/missions/{{m.guid}}">{{m.title|default:'(Untitled mission)'}}</a></li>
{% endfor %}
</ul>
{% endif %}

<p><a href="/missions/create">Propose a new mission</a>.</p>
{% endif %}

{% endif %}{% endif %}
{% endblock %}
