{% extends '_base.html' %}
{% block meta %}
<meta name="robots" content="NOINDEX,NOFOLLOW,NOARCHIVE,NOODP,NOSNIPPET">
{% endblock %}
{% block css %}
{% if mission and mission.owner_guid != USER.guid %}<link rel="stylesheet" href="/css/admin.css">{% endif %}
{% endblock %}
{% block html_imports %}
<link rel="import" href="/polymer-src/core-icon/core-icon.html">
<link rel="import" href="/polymer-src/paper-shadow/paper-shadow.html">
{% endblock %}
{% block title %}Ingress Mission Requests: View mission{% endblock %}
{% block pagetitle %}Mission details{% endblock %}
{% block titleiconhref %}/{% if USER.is_superadmin or USER.is_mission_creator %}queue{% endif %}{% endblock %}
{% block bodycontent %}
{% if not mission %}
<p>Mission not found.</p>
{% else %}
<h2>{{mission.title|default:'(Untitled mission)'}}</h2>

{% if mission.owner_guid != USER.guid %}
<form action="" method="POST">
{% if mission.state == 'AWAITING_REVIEW' or mission.state == 'NEEDS_REVISION' %}<p><input type="submit" name="state_start_review" value="Start review"></p>{% endif %}
{% if mission.state == 'UNDER_REVIEW' %}<p><input type="submit" name="state_accept" value="Accept"><br>
<input type="text" length="50" name="revision_reason"> <input type="submit" name="state_revision" value="Ask for changes"><br>
<input type="text" length="50" name="rejection_reason"> <input type="submit" name="state_reject" value="Reject"><br>
<input type="submit" name="state_reset_review" value="Return to draft"></p>{% endif %}
{% if mission.state == 'REJECTED' %}<p><input type="text" length="50" name="revision_reason"> <input type="submit" name="state_revision" value="Ask for changes"><br>
<input type="submit" name="state_reset_review" value="Return to draft"></p>{% endif %}
{% if mission.state == 'ACCEPTED' %}<p><input type="submit" name="state_start_creation" value="Start creating mission"></p>{% endif %}
{% if mission.state == 'CREATING' %}<p><input type="submit" name="state_finish_creation" value="Finish creating mission"></p>{% endif %}
{% if mission.state == 'CREATED' %}<p><input type="submit" name="state_publish" value="Publish mission"></p>{% endif %}
</form>
{% endif %}

<table class="mission-info">
	<tr><th>Mission state:</th><td><core-icon icon="{{mission.status_icon}}" style="color: {{mission.status_color}}"></core-icon> {{mission.state}}</td></tr>
	{% if mission.state == 'REJECTED' or mission.state == 'NEEDS_REVISION' %}<tr><th>Reason:</th><td>{{mission.rejection_reason}}</td></tr>{% endif %}
	<tr><th>Author:</th><td>{{mission.owner_nickname}}</td></tr>
	<tr><th>Reviewer:</th><td>{{mission.reviewer_nickname|default:'—'}}</td></tr>
	<tr><th>Publisher:</th><td>{{mission.publisher_nickname|default:'—'}}</td></tr>
	<tr><th>Last modified:</th><td>{{mission.last_modified}} UTC ({{mission.last_modified|timesince}} ago)</td></tr>
	<tr><th>Mission type:</th><td>{{mission.type|default:'(No mission type set)'}}</td></tr>
	{% if mission.icon_url %}<tr><th>Icon:</th><td><a href="{{mission.icon_url}}" target="_blank"><img src="{{mission.icon_url}}" height="256"></a></td></tr>{% endif %}
	{% if mission.description %}
	<tr><th colspan="2">Description:</th><tr>
	<tr><td colspan="2">{{mission.description}}</td></tr>
	{% endif %}
</table>

<h3>Overview</h3>

<p><img src="{{mission.map_url_overview}}"></p>

<h3>Waypoints</h3>

{% if mission.waypoints %}
<div layout horizontal wrap>
{% for obj in mission.waypoints %}
<div class="waypoint-card" relative>
	<paper-shadow z="1"></paper-shadow>
	<a href="https://www.ingress.com/intel/?ll={{obj.lat}},{{obj.lng}}&pll={{obj.lat}},{{obj.lng}}&z=17" target="_blank"><img src="{{obj.map_url}}" width="350" height="150"></a>
	<div class="waypoint-card-content">
	<p>{{forloop.counter}}. <a href="https://www.ingress.com/intel/?ll={{obj.lat}},{{obj.lng}}&pll={{obj.lat}},{{obj.lng}}&z=17" target="_blank">{{obj.portal_title|default:'(Untitled portal)'}}</a><br>
	<strong>Mission:</strong> {{obj.type|default:'(No mission set)'}}
	{% if obj.location_clue %}<br><strong>Location clue:</strong> {{obj.location_clue}}{% endif %}
	{% if obj.description %}<br><strong>Description:</strong> {{obj.description}}{% endif %}
	{% if obj.question %}<br><strong>Question:</strong> {{obj.question}}{% endif %}
	{% if obj.passphrase %}<br><strong>Answer:</strong> {{obj.passphrase}}{% endif %}
	</p>
	</div>
</div>
{% endfor %}
</div>
{% else %}
<p>No waypoints set!</p>
{% endif %}

<h3>Review log</h3>
<table class="review-log">
	<thead>
		<tr><th>Date</th><th>Agent</td><td>Action</td></tr>
	</thead>
	<tbody>
{% for log in mission.audit_log %}
<tr><td>{{log.created_at}} UTC</td><td>{{log.actor_nickname}}</td><td>{{log.action}}{% if log.action_detail %}: {{log.action_detail}}{% endif %}</td></tr>
{% endfor %}
	</tbody>
</table>
{% endif %}
{% endblock %}
