{% extends '_base.html' %}
{% block css %}
<link rel="stylesheet" href="/css/admin.css">
{% endblock %}
{% block meta %}
<meta name="robots" content="NOINDEX,NOFOLLOW,NOARCHIVE,NOODP,NOSNIPPET">
{% endblock %}
{% block title %}Ingress Mission Request Queue{% endblock %}
{% block pagetitle %}Ingress Mission Request Queue{% endblock %}
{% block bodycontent %}
<p>Welcome to the queue, {{USER.nickname}}.</p>

{% if cursor_token %}<p><a href="/queue?start={{cursor_token}}">Next &gt;</a></p>{% endif %}
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>State</th>
			<th>Owner</th>
			<th>Last modified</th>
			<th>Ready for review?</th>
		</tr>
	</thead>
	<tbody>
{% for m in missions %}
		<tr>
			<td><a href="/missions/{{m.guid}}">{{m.title|default:'(Untitled mission)'}}</a></td>
			<td>{{m.state}}</td>
			<td>{{m.owner_nickname}}</td>
			<td>{{m.last_modified}} UTC</td>
			<td>{% if m.is_incomplete %}Definitely NOT!{% else %}{% if m.state == 'DRAFT' %}Maybe.{% else %}Yes.{% endif %}{% endif %}</a></td>
		</tr>
{% endfor %}
</table>
{% if cursor_token %}<p><a href="/queue?start={{cursor_token}}">Next &gt;</a></p>{% endif %}

{% endblock %}
